#Portfolio {
  padding: 20px 0px 0px 20px;

  .portfolioText {
    color: #FFFFFF;
    font-size: 65px;
    font-family: 'BRONSON-BL';
    display: flex;
    height: 3em;
    width: 9em;
  }

  .portfolioTextOutline {
    font-family: 'BRONSON-BO';
    width: .5em;
  }

}