#Portfolio {
  padding: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;

  .portfolioTop {
    height: 15%;

    .portfolioText {
      color: #FFFFFF;
      font-size: 65px;
      font-family: 'BRONSON-BL';
      display: flex;
      height: 3em;
      width: 9em;
    }

    .portfolioTextOutline {
      font-family: 'BRONSON-BO';
      width: .5em;
    }

  }

  .portfolioBottom {
    display: flex;
    justify-content: space-around;
    height: 85%;

    .portfolioCard {
      display: flex;
      flex-direction: column;
      height: 35em;
      width: 18em;
      background-color: #FFFFFF;
      border-radius: 25px;

      .pcTop {
        display: flex;
        flex-direction: column;
        height: 50%;

        .pcTopText {
          display: flex;
          height: 25%;
          gap: 2%;

          .pcTopNumber {
            width: 25%;
            font-family: 'BRONSON';
            font-size: 60px;
          }

          .pcTopTitle {
            display: flex;
            width: 75%;
            font-family: 'Apercu-lite';
            font-size: 32px;
            align-items: center;

          }

        }

        .pcTopImage {
          height: 75%;
          background-color: purple;
        }

      }

      .pcBottom {
        height: 50%;
        display: flex;
        flex-direction: column;

        .pcBottomTitle {
          display: flex;
          justify-content: center;
          text-align: center;
          height: 25%;
          font-family: 'Apercu-Bold';
          font-size: 40px;
        }

        .pcBottomTech {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 75%;

          .pcBottomTechTitle {
            display: flex;
            justify-content: center;
            height: 2em;
            border-radius: 5px;
            text-align: center;
            align-items: center;
            font-family: 'Apercu';
            font-size: 20px;
            background-color: black;
            color: #FFFFFF;
          }

        }

      }

    }

  }


}