@import 'homepage';
@import 'aboutMe';
@import 'skills';
@import 'portfolio';
@import 'contactMe';


// @font-face {
//   font-family: 'BRONSON-BLI';
//   src: url(portfolio/src/assets/fonts/BRONSON-Black-Italic.ttf) format("truetype");
//   font-weight: bold;
//   font-style: italic;
// }
@font-face {
  //BLACK OUTLINE
  font-family: 'BRONSON-BO';
  src: url(/src/assets/fonts/BRONSON-Black-Outline.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  //BLACK
  font-family: 'BRONSON-BL';
  src: url(/src/assets/fonts/BRONSON-Black.ttf);
  font-style: normal;
}
@font-face {
  //BOLD ITALIC
  font-family: 'BRONSON-BI';
  src: url(/src/assets/fonts/BRONSON-Bold-Italic.ttf);
  font-style: italic;
}
@font-face {
  //BOLD
  font-family: 'BRONSON-B';
  src: url(/src/assets/fonts/BRONSON-Bold.ttf);
  font-style: bold;

}
@font-face {
  //ITALIC
  font-family: 'BRONSON-I';
  src: url(/src/assets/fonts/BRONSON-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: 'BRONSON';
  src: url(/src/assets/fonts/BRONSON-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: 'Apercu';
  src: url(../fonts/Apercu-Medium.otf);
  font-style: normal;
}
@font-face {
  font-family: 'Apercu-Lite';
  src: url(../fonts/Apercu-Light.otf);
  font-style: normal;
}
@font-face {
  font-family: 'Apercu-Bold';
  src: url(../fonts/Apercu-Bold.otf);
  font-style: bold;
}

html {
  scroll-behavior: smooth;
}

